*{
  margin: 0;
  padding: 0;
}

body{
  position: relative;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, #610094, #46006c, #2e0047, #000000);
  background-position: center;
  display: flex;
  justify-content: center;
  max-height: 100%;
  
}

header{
  background: linear-gradient(#46006c);
  height: 100px;
  max-width: 100%;
}

button{
  display: inline-block;
  padding: 2% 5%;
  margin-top: 20px;
  background-color: #46006c;
  border: 3px solid #2e0047;
  border-radius: 7px;
  font-size: 2rem;
  font-weight: bold;
  color: whitesmoke;
  margin-bottom: 10px;

  font-family: "Tiro Bangla", serif;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 1px;

  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

button:hover{
  background-color: #8900d2;
  color:#2e0047;
  transform: translateY(-10px)
}

h2{
  text-align: center;
  color: white;
  font-size: 5rem;
  margin-top: 9%;

  font-family: "Bangers", system-ui;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 10px;
}

div {
  font-size: clamp (50px 1vw 100px);
}

.introContainer{
  width: 50%;
  position: absolute;
  background-color: rgba(169, 169, 169, 0.773);
  border-radius: 2rem;
  text-align: center;
  top: 35%;
  left: 25%;
  max-height: 100%;
}

.introContainer::after, .introContainer::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(#8e00db,#610094, #8e00db);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  padding: 5px;
  border-radius: 2rem;
  animation: 3s spin linear infinite;
}

.introContainer::before{
  filter: blur(1.5rem);
  opacity: 1;
}


.welcome{
  color: black;
  font-size: 3.2rem;
  margin-top: 10px;
  margin-left: 2px;
  margin-right: 2px;

  font-family: "Tiro Bangla", serif;
  font-weight: 400;
  font-style: normal;
}

#introTextOne{
  color: black;
  font-size: 1.7rem;
  text-align: center;

  font-family: "Tiro Bangla", serif;
  font-weight: 400;
  font-style: normal;
}

#introTextTwo{
  color: black;
  font-size: 1rem;
  text-align: center;

  font-family: "Tiro Bangla", serif;
  font-weight: 400;
  font-style: normal;
}

